# District Summary
Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.

Include the following:

Total number of unique schools

Total students

Total budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)
__________
Average math and reading scores stay consistent across grade level when grouped by school. There is no major improvement in scores from any school.
Math passing rates are always consistently lower across every metric, but the difference between math and reading passing rates is greater amoung lower performing schools, large schools, and higher spending per student which all seem to correlate.
The top 5 schools are all charter schools while the bottom 5 all district schools.
In general (one exception), per student spending is higher in bottom performing schools than top performing.
Schools under 2000 students have much higher passing rates than those with student populations above 2000. A comparision of 95 to 75%. The same phenomenon is seen with high and low per student spending brackets and district versus charter school___________s.


As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually ($645-675) underperformed compared to schools with smaller budgets (<$585 per student).

As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_df = Path("Resources/schools_complete.csv")
student_data_df = Path("Resources/students_complete.csv")



# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_df)
school_data_df.head()
student_data_df = pd.read_csv(student_data_df)
student_data_df.head()
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#total number of unique schools 
# Calculate the total number of unique schools
dist_school_count = school_data_df ["school_name"].count()
dist_school_count
print("Total number of schools in District:", dist_school_count)

Total number of schools in District: 15

In [4]:
# Calculate the total number of students
dist_student_count = student_data_df["student_name"].count()
print("Total number of students in District:", dist_student_count)

Total number of students in District: 39170

In [5]:
# Calculate the total budget
dist_total_budget = school_data_df["budget"].sum()
print("Total District Budget:", dist_total_budget)

Total District Budget: 24649428

In [6]:
# Calculate the average (mean) math score
average_math_score =  school_data_complete['math_score'].mean()
average_math_score

print("the average math score for the Distirct:", average_math_score)

the average math score for the Distirct: 78.98537145774827

In [7]:
# Calculate the total number of students
dist_student_count = student_data_df ["student_name"].count()
dist_student_count
print("Total number of students in District:", dist_student_count)

Total number of students in District: 39170

In [8]:
# Calculate the average (mean) math score
average_math_score =  school_data_complete['math_score'].mean()
average_math_score

print("the average math score for the District: ",average_math_score)

the average math score for the District:  78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score =  school_data_complete['reading_score'].mean()
average_reading_score

print("the average reading score for the District:", average_reading_score)

the average reading score for the District: 81.87784018381414

In [10]:
#  % passing math (the percentage of students who passed math)
# # Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(dist_student_count) * 100
passing_math_percentage

print("The the percentage of students who passed math for the District:", passing_math_percentage)

The the percentage of students who passed math for the District: 74.9808526933878

In [11]:
#  % passing reading (the percentage of students who passed reading)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(dist_student_count) * 100
passing_reading_percentage

print("The percentage of students who passed reading for the District:", passing_reading_percentage)

The percentage of students who passed reading for the District: 85.80546336482001

In [12]:
#  % overall passing (the percentage of students who passed math AND reading)

passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
    ].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(dist_student_count) * 100
overall_passing_rate

print("The percentage of students who passed math AND reading for the District:", overall_passing_rate)

The percentage of students who passed math AND reading for the District: 65.17232575950983

In [13]:
#
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({
    
    "Total Schools": [dist_school_count],
    "Total Students": [dist_student_count],
    "Total Budget": [dist_total_budget],
    "Average Reading Score": [average_reading_score],
    "Average Math Score": [average_math_score],
    "% Passing Reading":[passing_reading_percentage],
    "% Passing Math": [passing_math_percentage],
    "Overall Passing Rate": [overall_passing_rate]

})

#store as different df to change order
dist_sum = district_summary[["Total Schools", 
                             "Total Students", 
                             "Total Budget", 
                             "Average Reading Score", 
                             "Average Math Score", 
                             '% Passing Reading', 
                             '% Passing Math', 
                             'Overall Passing Rate']]

#format cells
dist_sum.style.format({"Total Budget": "${:,.2f}", 
                       "Average Reading Score": "{:.1f}", 
                       "Average Math Score": "{:.1f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,"39,170","$24,649,428.00",81.87784,78.985371,85.805463,74.980853,65.172326

# School Summary
Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

Include the following:

School name

School type

Total students

Total school budget

Per student budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [14]:
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_df = Path("Resources/schools_complete.csv")
student_data_df = Path("Resources/students_complete.csv")



# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_df)
school_data_df.head()
student_data_df = pd.read_csv(student_data_df)
student_data_df.head()
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [16]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [17]:
# Calculate the total school budget and per capita spending per school from school_data
# Calculate the total school budget and per capita spending
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [18]:
# Calculate the total school budget and per capita spending
per_school_capita = school_data_df.set_index(["school_name"])["budget"]/school_data_df.set_index(["school_name"])["size"]
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
# students passing Reading 70 or highing
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_reading
# group by school and count the number of students

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [20]:
# Calculate the number of students passing math and passing  by school. 70 or higher
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [21]:
# group by school and count the number of students
per_school_passing_math_by_school=per_school_passing_math.groupby('school_name').count()['student_name']
print (per_school_passing_math_by_school)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [22]:

per_school_passing_reading_by_school=per_school_passing_reading.groupby('school_name').count()['student_name']
print (per_school_passing_reading_by_school)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [23]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_math
per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [24]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_math
per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [25]:
# Use the provided code to calculate the passing rates
#per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [27]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
sch_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Per Student Budget": per_school_budget,
    "Total School Budget": per_school_capita,
    #"Average Math Score": avg_math,
   # "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})

NameError: name 'pass_math' is not defined

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type" : per_school_types,
                                   "Total Students" : per_school_counts,
                                   "Total School Budget" : per_school_budget,
                                   "Per Student Budget" : per_school_capita,
                                   #"Average Math Score" : per_school_math,
                                   #"Average Reading Score" : per_school_reading,
                                   "% Passing Math" : per_school_passing_math,
                                   "% Passing Reading" : per_school_passing_reading,
                                   "% Overall Passing" : overall_passing_rate})

ValueError: 2

In [27]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

sch_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Per Student Budget": per_school_budget,
    "Total School Budget": per_school_capita,
    "Average Math Score": avg_math,
     "Average Reading Score": avg_read,
#   '% Passing Math': pass_math,
#   '% Passing Reading': pass_read,
#   "Overall Passing Rate": overall})

#munging
sch_summary = sch_summary[['School Type', 
                           'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget'
                          'Average Math Score', 
                          'Average Reading Score',
                          #'% Passing Math',
                          #'% Passing Reading',
                          #'Overall Passing Rate']]

sch_summary

SyntaxError: ':' expected after dictionary key (4279839975.py, line 15)

In [ ]:
# Calculate the average test scores per school from school_data_complete
per_school_math =
per_school_reading =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
#students_passing_math =  student_data_complete[student_data_complete]

#(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
school_students_passing_math =school_students_passing_math_and_reading = students_passing_math.groupby(["school_name"]).size()

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_math
per_school_passing_reading

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =
school_students_passing_math =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher









students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [ ]:
#  Highest-Performing Schools (by % Overall Passing)
Sort the schools by % Overall Passing in descending order and display the top 5 rows.

Save the results in a DataFrame called "top_schools".

In [ ]:
#Lowest-Performing Schools (by % Overall Passing)
Sort the schools by % Overall Passing in ascending order and display the top 5 rows.

Save the results in a DataFrame called "bottom_schools".

In [ ]:
#Math Scores by Grade
Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Reading Scores by Grade
Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Scores by School Spending
Create a table that breaks down school performance based on average spending ranges (per student).

Use the code provided below to create four bins with reasonable cutoff values to group school spending.

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
Use pd.cut to categorize spending based on the bins.

Use the following code to then calculate mean scores per spending range.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
Use the scores above to create a DataFrame called spending_summary.

Include the following metrics in the table:

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Scores by School Size
Use the following code to bin the per_school_summary.

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

Scores by School Type
Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.

This new DataFrame should show school performance based on the "School Type".